<div class="navbar">
  <div class="d-flex justify-content-center gap-3 align-items-center">
    <%= link_to "MT", "#top", id: "nav-top-link"%>
    <%= link_to "About", "#top", class: "nav-section-link"%>
    <%= link_to "Skills", "#skills", class: "nav-section-link"%>
    <%= link_to "Projects", "#projects", class: "nav-section-link"%>
  </div>
  <div id="contact">
    <div class="d-flex justify-content-center flex-wrap">
      <div class="button-social d-flex flex-column justify-content-center align-items-center">
        <i class="fa-solid fa-envelope"></i>
        <%= mail_to "malene.thisgaard@gmail.com", "", class: 'button-social-link' %>
      </div>
      <div class="button-social d-flex flex-column justify-content-center align-items-center">
        <i class="fa-brands fa-github"></i>
        <%= link_to "", "https://github.com/mthisgaard", target: '_blank', class: 'button-social-link' %>
      </div>
      <div class="button-social d-flex flex-column justify-content-center align-items-center">
        <i class="fa-brands fa-linkedin"></i>
        <%= link_to "", "https://www.linkedin.com/in/malenethisgaard/", target: '_blank', class: 'button-social-link' %>
      </div>
    </div>
  </div>
</div>